.app-bar-title{
    flex-grow: 1
}

.world-canvas {
  border: 1px solid black;

}

.canvas-container{
  position: relative;
}

#start-button {
  position:absolute;
  top:35%;
  left: 50%;
transform: translate(-50%, 0);
}

#wrap-container {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item-container {
    margin: 5px;
    max-width: 500px;
    flex: auto;
}
.item-containerES {
    margin: 1px;
    max-width: 500px;
    flex: auto;
}