.world-canvas {
  border: 1px solid black;

}

.canvas-container{
  position: relative;
}

.start-button {
  position:absolute;
  left:24%;
  top:40%
}


th, td {
    padding: 5px;
}

#wrap-container {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item-container {
    margin: 5px;
}
